= title "Sync Status"

- current_user.main_dropbox_account.ro_containers.each do |container|
  .ro_container.box_description
    %h2
      ROs Container:
      = container.path
    %div
      %table
        %tr
          %td.strong
            Initial Sync
          %td
            - if container.initial_sync_success?
              .success
                An initial sync has been done successfully
            - else
              .notice
                Still waiting for an initial sync to complete successfully
        %tr
          %td.strong
            Last Sync
          %td
            - last_job = container.sync_jobs.last
            - if last_job.nil?
              .notice
                Not synced yet
            - else
              %div{ :class => class_name_for_sync_status(last_job.status) }
                = last_job.status.to_s.upcase
        %tr
          %td.strong
            All Sync Jobs
          %td
            %p
              Pending jobs:
              = container.sync_jobs.pending.count
            %p
              Running jobs:
              = container.sync_jobs.running.count
            %p
              Failed jobs:
              = container.sync_jobs.failed.count
            %p
              Successful jobs:
              = container.sync_jobs.success.count
        
