- title "Getting Started"
%h1
  Manage your Research Objects (ROs)
%p.center
  The Wf4Ever ROBox app connects up your Dropbox
  and synchronises your Research Objects (ROs) with
  = link_to "dLibra", "http://dlibra.psnc.pl/"
.getting_started
  %h1
    Getting Started
  %table
    %tbody
      - @wizard_data.steps.each do |step_data|
        %tr
          %td
            = getting_started_status_icon(step_data.status)
          %td{ :class => "step_text #{step_data.status}" }
            = step_data.text
          %td.center
            - if step_data.show_action
              = button step_data.action_label, step_data.action_path
