= title "Add an ROs Location"

.box_description
  %p
    Here you can add a location in your Dropbox where each sub-folder within it is treated
    as an individual Research Object.
  %p
    For example, if you specify 
    %strong
      Work/ROs
    as an ROs location, then the folders
    %strong
      Work/ROs/analysis1/
    and
    %strong
      Work/ROs/analysis2/
    will be treated as two different Research Objects called
    %strong
      analysis1
    and
    %strong
      analysis2
    
  %p
    %strong
      NOTE:
    if this folder doesn't exist in your Dropbox it will be created.
  
= semantic_form_for @dropbox_research_object_container, 
    :url => dropbox_account_ro_containers_path(@dropbox_acccount), 
    :html => { :class => "specify_ro_folder" } do |f|
  = f.error_messages
  = f.inputs do
    = f.input :path, :label => "Folder"
    = f.input :workspace_id, :label => "dLibra username", :required => false, 
	:hint => raw("Optional <a href='http://sandbox.wf4ever-project.org/users/'>dLibra credentials</a>")
    = f.input :workspace_password, :label => "dLibra password", :required => false, :as => :password
    = f.buttons do
      = f.commit_button "Add" 
