= title "Add an ROs Location"

.box_description
  %p
    Here you can add a location in your Dropbox where each sub-folder within it is treated
    as an individual Research Object.
  %p
    For example, if you specify 
    %strong
      Work/ROs
    as an ROs location, then
    %strong
      Work/ROs/analysis1
    and
    %strong
      Work/ROs/analysis2 
    will be treated as two different Research Objects.
  %p
    %strong
      NOTE:
    if this folder doesn't exist in your Dropbox it will be created.
  
= semantic_form_for @dropbox_research_object_container, 
    :url => dropbox_account_ro_containers_path(@dropbox_acccount), 
    :html => { :class => "specify_ro_folder" } do |f|
  = f.error_messages
  = f.inputs do
    = f.input :path, :label => "Folder"
    = f.buttons do
      = f.commit_button "Add" 